<section id="preciso-conta-info">
  <h1 id="preciso-conta-info-title">Conta Preciso</h1>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          Informações Gerais
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- Preencher -->
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Dados Pessoais
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- Preencher -->
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Certificados Emitidos Recentemente
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- Preencher -->
    </mat-expansion-panel>
  </mat-accordion>
</section>